<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="folderit.net.ejemplos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/titulo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".clase2.DatepickerActivity" />
        <activity android:name=".clase2.TimepickerActivity" />
        <activity android:name=".clase2.SimpleListActivity" />
        <activity android:name=".clase2.CustomListActivity" />
        <activity android:name=".clase2.RecyclerListActivity" />
        <activity android:name=".clase1.Clase1Activity" />
        <activity android:name=".clase2.Clase2Activity" />
        <activity android:name=".clase3.Clase3Activity" />
        <activity android:name=".clase4.Clase4Activity"></activity>
    </application>

</manifest>